.container {
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
}

.background {
  height: 100%;
  width: 100%;
  background: url("../images/check-signing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed; 
  overflow-y: auto;
}

.panel {
  margin: 0 auto;
padding-bottom: 10px;
  width: 75%;  
  min-height: 650px;
  position: relative;
  top: calc(30px + 5%);
  background: rgba(255,255,255,0.75);
}

.logo {
  height: calc(6vw + 15px);
  min-height: 100px;
  width: 100%;
  background: url("../images/logo-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: calc(25px + 20vw);
}

.content {
  margin: auto;
  width: 80%;
}

h1 {
  font-family: 'URW Gothic L', sans-serif;
  font-size: calc(8px + 2.5vw);
  font-weight: normal;
  margin: 0 auto;
  color: black;
  text-align: center;
}
span{
  color: #19d15a;
}

.slogan {
  width: 100%;
  height: 2.5vh;
  min-height: 80px;
}

.divider {
  margin: auto;
  height: 38px;
  width: 100%;
  background: url("../images/divider.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(100px + 20vw);
}

.register {
  position: relative;
  height: calc(6vh + 6vw);
  min-height: 50px;
  max-height: 150px;
  width: 100%;
}

h2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  translateX(-50%);
  font-family: 'URW Gothic L', sans-serif;
  font-weight: normal;
  font-size: calc(16px + 2vw);
  bottom: 7%;
}

.fields {
  border-style: none;
  border-width: 3px;
  position: relative;
  clear: center;
  width: 40%;
  min-width: 150px;
  margin: 0 auto;
  text-align: center;
}

.entry {
  position: relative;
  margin: 10px auto;
  width: 100%;
  min-width: 150px;
  height: 40px;
  text-align: center;
}

.large-fld, .large-btn {
  font-family: 'URW Gothic L', sans-serif;
  font-weight: normal;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  font-size: 1.4em;
  height: 100%;
  width: 97.5%;
}

.large-btn {
  font-size: 1.4em;
  color: white;
  border-style: none;
  background-color: #19d15a;
  width: 40%;
  min-width: 150px;
  margin: 5px 0;
}

p {
  font-family: 'URW Gothic L', sans-serif;
  font-weight: normal;
}
